<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: rgb(215, 233, 245);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            font-family: sans-serif;
        }
        div {
            text-align: center;
            margin: 4rem auto;
        }
        h1 {
            color: rgb(16, 92, 16);
            font-size: 2rem;
            margin-bottom: 3rem;
        }
        a {
            text-decoration: none;
            padding: 6px 14px;
            background-color: rgb(35, 35, 105);
            color: white;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div>
        <h1>E-mail Verfied Successfully</h1>
        <a href="/loginroute">Back to Login</a>
    </div>
</body>
</html>