<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body { background-color: rgb(215, 233, 245); height: 100vh; display: flex;
      justify-content: center; align-items: flex-start; font-family: sans-serif;
      } div { text-align: center; margin: 4rem auto; } h1 { color: rgb(16, 92,
      16); font-size: 2rem; margin-bottom: 3rem; } a { text-decoration: none;
      padding: 6px 14px; background-color: rgb(35, 35, 105); color: white;
      border-radius: 4px; }
    </style>

  </head>
  <body>
    <div>
      <h1>Reset Password</h1>
      <form id="form">
        <label for="password">Enter a new password here</label>
        <input type="email" name="email" id="email" value={{newuser.email}} readonly="readonly">
        <input type="password" name="password" id="password" />
        <button type="submit">Submit</button>
      </form>
    </div>
    <script>

      const form = document.getElementById('form');
      form.addEventListener('submit', function(e) { e.preventDefault(); const
      formData = new FormData(form); const payload = new
      URLSearchParams(formData);
      fetch('http://127.0.0.1:5000/auth/updatepassword', { method: 'POST', body:
      payload, }) .then(res => res.json()) .then(data => console.log(data)) })

    </script>
  </body>
</html>